span {
    font-weight: bold;
    font-size: 23px;
}

.center {
    text-align: center;
}

.link {
    text-decoration: none;
}

.img {
    display: inline-block;
    background-position: center;
    background-size: 7em;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.heading {
    padding: 1em 0 0.5em;
}

.subheading {
    padding: 0 0 1em;
}

.block {
    background-color: rgba(249, 249, 249, 255);
    margin: 20px auto;
    padding: 30px 20px 10px;
    box-shadow: 1px 1px 5px gray;
    width: 60%;
    border-radius: 5px;
}

#nhan {
    background-image: url("https://scontent-xsp1-3.xx.fbcdn.net/v/t39.30808-6/218325715_965654857553387_7752412335105348165_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=2xU5O1KiMiwAX8jlZs1&tn=6ocPK-CExaT5932I&_nc_ht=scontent-xsp1-3.xx&oh=00_AT9PseVas1v6HGEjhcOoen9aewxWcdrSzuChYZcATtSq1A&oe=61CF9E6E");
}

#call {
    background-image: url("https://thumbs.dreamstime.com/b/phone-call-icon-isolated-white-background-phone-call-icon-trendy-design-style-web-site-mobile-app-phone-call-vector-182083251.jpg");
}

#email {
    background-image: url("https://cdn.iconscout.com/icon/free/png-256/email-2091034-1767507.png");
}

.large {
    display: none;
}

@media screen and (min-width: 992px) {
    .block {
        margin: 20px 1.1%;
        float: left;
        width: 31%;
    }
    .small {
        display: none;
    }
    .large {
        display: block;
    }
}